## Build:
/bin/
/build/
/run/
/core/bin/
/core/build/
/core/run/
/updater/bin/
/updater/build/
/updater/run/
/bootstrap/bin/
/bootstrap/build/
/bootstrap/run/

## Gradle:
.gradle/

## Java:
*.class

## IntelliJ:
.idea/

## Eclipse:
.settings/
.classpath
.project
*.launch

## OS:
.DS_Store
Thumbs.db